{% extends 'KorobiWebBundle::layout.html.twig' %}

{% set page_title = "Kitty Images" %}

{% block body %}
    <h1>Kitty Images :3</h1>
    <div class="kitty-images">
        {% for image in images %}
            <img src="{{ image.source }}" />
            <div class="caption">
                <p><strong>ID: </strong> {{ image.image_id }}{% if image.has_tags %}  |  <strong>Tags: </strong> {{ image.tags }}{% endif %}</p>
            </div>
        {% endfor %}
        {% for video in videos %}
            <video src="{{ video.source }}"></video>
            <div class="caption">
                <p><strong>ID: </strong> {{ video.image_id }}{% if video.has_tags %}  |  <strong>Tags: </strong> {{ video.tags }}{% endif %}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
