{% import 'KorobiWebBundle::macros/nav_link.html.twig' as nav %}
<!DOCTYPE html>
<html>
<head>
    <title>{% if page_title is defined %}{{ page_title }} - {% endif %}{{ app_name }}</title>
    <meta name='viewport' content='initial-scale=1'>
    {% stylesheets filter='scss' '@KorobiWebBundle/Resources/assets/sass/application.scss' output='assets/css/application.css' %}
    <link rel='stylesheet' href='{{ asset_url }}?cb={{ "now"|date("U") }}' />
    {% endstylesheets %}
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css'>
</head>
<body{{ (theme.isLight()) ? ' class="light"' : '' }}>
{{ include('KorobiWebBundle::partials/nav.html.twig') }}

<main>
    {% block body %}{% endblock %}
</main>

{{ include('KorobiWebBundle::partials/footer.html.twig') }}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
{% javascripts '@KorobiWebBundle/Resources/assets/js/prod/*' output='assets/js/application.js' %}
<script src="{{ asset_url }}?cb={{ "now"|date("U") }}"></script>
{% endjavascripts %}
{# only include development js in dev environment #}
{% if app.environment == 'dev' %}
{% javascripts '@KorobiWebBundle/Resources/assets/js/dev/*' output='assets/js/dev.js' %}
<script src="{{ asset_url }}?cb={{ "now"|date("U") }}"></script>
{% endjavascripts %}
{% endif %}
</body>
</html>
