{% extends 'KorobiWebBundle::layout.html.twig' %}

{% set page_title = "Revisions" %}

{% block body %}
    <h1>Korobi/{{ repository }}</h1>
    <table>
        <thead>
            <th>
                <td>Revision</td>
                <td>Author</td>
                <td>Description</td>
                <td>When</td>
            </th>
        </thead>
        <tbody>
        {% for revision in revisions %}
            <tr>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <td><a href="{{ revision.html_url }}">{{ revision.sha|slice(0, 7) }}</a></td>
                {% else %}
                    <td>{{ revision.sha|slice(0, 7) }}</td>
                {% endif %}
                <td>{{ revision.commit.author.name|commitauthorname }}</td>
                <td>{{ revision.commit.message }}</td>
                <td>{{ revision.commit.author.date|date('H:m:s') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
