{% extends 'KorobiWebBundle::layout.html.twig' %}

{% set page_title = channel_name ~ " on " ~ network_name ~ " - Commands" %}

{% block body %}
    <h1>Commands for {{ channel_name }} on {{ network_name }}</h1>
    <div class="commands">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Content</th>
                    <th>Aliases</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for command in commands %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ command.name }}</td>
                        <td>
                            {% for value in command.value %}
                                {{ value|ircformat|raw }}{% if not loop.last %}<br>{% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ command.aliases ? command.aliases }}</td>
                        <td>
                            <i class="fa fa-{{ command.is_action ? 'check' : 'close' }}"></i>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
