{% extends 'KorobiWebBundle::layout.html.twig' %}

{% set page_title = channel_name ~ " on " ~ network_name ~ " - Logs" %}

{% block head %}
<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% if is_tail %}
<script>
$(document).scrollTop($("#bottom").offset().top);
setInterval(function() {
    $.get('{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}', function(data) {
        var logs = $('div.logs').empty();
        $.each(JSON.parse(data), function(line) {
            var timestamp = $('<span/>')
                .addClass('timestamp')
                .html(line.timestamp);
            var nick = $('<span/>')
                .addClass('nick irc--' + line.nickColour + '-99 ' + line.role)
                .html(line.nick);
            var message = $('<span/>')
                .addClass('message')
                .html(line.message);
            logs.append(
                $('<div/>')
                    .addClass('line')
                    .append(timestamp)
                    .append(nick)
                    .append(message)
            );
        });
        $(document).scrollTop($("#bottom").offset().top);
    })
}, 5000);
</script>
{% endif %}
{% endblock %}

{% block body %}
    <h1>Log for {{ channel_name }} on {{ network_name }} - {{ log_date }}</h1>
    <div class="logs">
        {% for line_num, line in logs %}
            <div class="line {% if not is_tail %}js-hl" data-line-num="{{ line_num + 1 }}{% endif %}">
                {% if not is_tail %}
                    <span class="icon">
                        <i class="fa fa-paint-brush"></i>
                    </span>
                {% endif %}
                <span class="timestamp">
                    {{ line.timestamp }}
                </span>
                <span class="nick irc--{{ line.nickColour }}-99 {% if line.role is not empty %}{{ line.role }}{% endif %}"><!--
                    -->{{ line.nick }}
                </span>
                <span class="message">
                    {{ line.message|raw }}
                </span>
            </div>
        {% endfor %}
    </div>
{% endblock %}
