{% extends 'KorobiWebBundle::layout.html.twig' %}

{% set page_title = channel_name ~ " on " ~ network_name ~ " - Tail" %}

{% block head %}
<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
{% endblock %}

{% block body %}
    <div class="controls">
        <ul class="toggles">
            <li>
                <input type="checkbox" id="toggle-join-part" checked>
                <label for="toggle-join-part" class="button button-rounded button-flat active">
                    Join/part messages
                </label>
            </li>
            <li>
                <input type="checkbox" id="toggle-timezone" checked>
                <label for="toggle-timezone" class="button button-rounded button-flat active">
                    Local timezone
                </label>
            </li>
        </ul>
        <div class="right">
            {% if not is_tail %}
                <a class="button button-rounded button-flat-primary" href="{{ tail_url }}">
                    Tail
                    <i class="fa fa-ellipsis-h"></i>
                </a>
            {% endif %}
            <label for="log-date" class="button button-rounded button-flat-primary">
                Calendar
                <i class="fa fa-calendar"></i>
            </label>
            <script type="application/json" id="available-log-days">{{ available_log_days|json_encode|raw }}</script>
            <input type="text" id="log-date" value="{{ log_date }}" data-start-date="{{ first_for_channel }}">
        </div>
    </div>

    {% if is_tail %}
        <h1>Last logs for {{ channel_name }} on {{ network_name }}</h1>
    {% else %}
        <h1>Log for {{ channel_name }} on {{ network_name }} - {{ log_date }}</h1>
    {% endif %}
    <div class="logs{% if is_tail %} tailing{% endif %}" id="logs">
        {% for line_num, line in logs %}
            <div data-nick="{{ line.nick }}" data-event-id="{{ line.id }}" data-event-type="{{ line.type }}" class="line{% if not is_tail %} js-hl" data-line-num="{{ line_num + 1 }}{% endif %}">
                <span class="timestamp">
                    {# The date is UTC, js will translate it to the correct timezone #}
                    {{ gmdate('H:i:s', line.timestamp) }}
                </span>
                <span class="nick irc--{{ "%02d"|format(line.nickColour) }}-df
                        {%- if line.role is not empty %} {{ line.role }}{% endif %}"
                        {%- if line.nickTooLong %} title="{{ line.realNick }}" rel="tooltip"{% endif %}>
                    {{- line.displayNick -}}
                    {%- if line.nickTooLong -%}
                        +
                    {%- endif -%}
                </span>
                <span class="message">
                    {{- line.message|raw -}}
                </span>
            </div>
        {% endfor %}
    </div>
{% endblock %}
