{% extends 'KorobiWebBundle::layout.html.twig' %}
{% import "KorobiWebBundle::macro/log_render.html.twig" as log_render %}

{% set page_title = 'Home' %}

{% block head %}
    <meta name="description" content="Korobi is a set of tools for IRC channels, aiming to be the swiss army knife of IRC. Korobi can maintain channel logs, commands, statistics and more.">
{% endblock head %}

{% block hero %}
    <div class="hero">
        <h1>Korobi <small>Kitten powered.</small></h1>
        {# TODO: Put a decent description here for Google. #}
        <!--googleoff: all-->
        {{ log_render.log_render(messages) }}
        <!--googleon: all-->
    </div>
{% endblock %}

{% block body %}
    {# Each feature block occupies a third of the space in the width on desktop screens. #}
    <div class="homepage-feature-holder">
        <div class="homepage-feature">
            <h2 class="logs-header">Logs</h2>
            <p>
                One of the services provided by the IRC bot is the <em>logging</em> of your channel, be it publicly or privately.
                These logs are then used to generate channel statistics. The logs themselves are neatly organized and can easily be browsed within our website.
            </p>
        </div>
        <div class="homepage-feature">
            <h2 class="commands-header">Commands</h2>
            <p>
                Another service provided by the IRC bot is the ability to create factoid commands on the fly. 
                Allowing for easy and flexible creation of responses based on frequently asked questions, and even listen for certain triggers to have it respond automatically.
            </p>
        </div>
        {# I'm not happy about this feature block since the length doesn't match the other two and I think it's a little wordy #}
        <div class="homepage-feature">
            <h2 class="stats-header">Stats</h2>
            <p>
                Statistics are generated based off of the logs collected by the IRC bot. 
                We are able to generate statistics to accurately capture who is the most active person by hours,
                along with other things like whom uses the most smileys, who has been granted the most karma, and which person can make sailors blush with their vulgar language.
            </p>
        </div>
    </div>

    <div class="homepage-secondary-holder">
        <div class="about content-block">
            <h2 class="content-block-header"><i class="fa fa-info-circle"></i> About the project</h2>
            <div class="content-block-content">
                <p>
                    The Korobi project aims to be the swiss army knife of IRC.
                </p>
                <p>
                    Korobi is carefully designed by people who enjoy using IRC on a day to day basis, 
                    and aim to make IRC even more enjoyable by providing a large set of tools for channels to work with.
                </p>
                <p>
                    If you'd like to request Korobi for your own channel, or have any questions at all, 
                    please visit <a href="irc://irc.esper.net/korobi">#korobi on EsperNet</a> and highlight one of the ops.
                    See the <a href="https://docs.korobi.io/channel/requesting.html">full documentation</a> to see if your channel qualifies.
                </p>
                <p>
                    <a href="{{ path('about') }}" class="button button-rounded button-flat-primary">
                        Read More...
                        <i class="fa fa-book"></i>
                    </a>
                    <a href="https://github.com/Korobi/Korobi/issues" class="button button-rounded button-flat-primary">
                        Issue Tracker
                        <i class="fa fa-bug"></i>
                    </a>
                </p>
            </div>
        </div>

        <div class="recent-channel-activity">
            <table>
                <thead>
                <tr>
                    <th>Channel</th>
                    <th>Last Message</th>
                </tr>
                </thead>
                <tbody>
                {% for channel in channels %}
                    {% set lastValidContent = channel.LastActivityValid %}
                    <tr>
                        <td><a href="{{ path('channel', {'channel': channel.channel[1:], 'network': channel.network}) }}"><abbr title="<strong>Network:</strong> {{ attribute(networks, channel.network) }}" rel="tooltip">{{ channel.channel }}</abbr></a></td>
                        {% if lastValidContent == null %}
                            <td><em>Never</em></td>
                        {% else %}
                            <td>
                                <time datetime="{{ lastValidContent.getTimestamp() }}" title="{{ lastValidContent.getTimestamp()|date("c") }}">
                                    {{ relativeTime(now, channel.LastActivityValid.getTimestamp()) }}
                                </time>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
