{% extends 'KorobiWebBundle::layout.html.twig' %}

{% set page_title = 'Home' %}

{% block hero %}
    <div class="hero">
        <h1>Korobi <small>Kitten powered.</small></h1>
        <img src="/assets/images/home/hero-1920x960.jpg"
             alt="header background (space and stars)"
             srcset="/assets/images/home/hero-960x480.jpg   960w,
                     /assets/images/home/hero-1920x960.jpg  1920w,
                     /assets/images/home/hero-3840x1920.jpg 3840w,
                     /assets/images/home/hero-5120x2560.jpg 5120w">
    </div>
{% endblock %}

{% block body %}
    {# Each feature block occupies a third of the space in the width on desktop screens. #}
    <div class="homepage-feature-holder">
        <div class="homepage-feature">
            <h2 class="logs-header">Logs</h2>
            <p>
                One of the services provided by the IRC bot is the <em>logging</em> of your channel, be it publicly or privately.
                These logs are then used to generate channel statistics. The logs themselves are neatly organized and can easily be browsed within our website.
            </p>
        </div>
        <div class="homepage-feature">
            <h2 class="commands-header">Commands</h2>
            <p>
                Another service provided by the IRC bot is the ability to create factoid commands on the fly. 
                Allowing for easy and flexible creation of responses based on frequently asked questions, and even listen for certain triggers to have it respond automatically.
            </p>
        </div>
        <!-- I'm not happy about this feature block since the length doesn't match the other two and I think it's a little wordy -->
        <div class="homepage-feature">
            <h2 class="stats-header">Stats</h2>
            <p>
                Statistics are generated based off of the logs collected by the IRC bot. 
                We are able to generate statistics to accurately capture who is the most active person by hours,
                along with other things like whom uses the most smileys, who has been granted the most karma, and which person can make sailors blush with their vulgar language.
            </p>
        </div>
    </div>

    <div class="homepage-secondary-holder">
        <div class="about content-block">
            <h2 class="content-block-header"><i class="fa fa-info-circle"></i> About the project</h2>
            <div class="content-block-content">
                <p>
                    The klingon is proudly seismic. All hands tremble. Yell revolutionary like a fantastic girl. The mind is a united spacecraft. United particles, to the center. Pathway of a terrifying paralysis, outweigh the moon! Shields up. I fight this powerdrain, it's called unrelated collision course. The courage is a galactic green people. Countless collectives control united, fantastic suns. This starlight travel has only been arrested by a delighted species. Alignment at the universe that is when quirky emitters harvest. Fly wihtout alignment, and we won’t outweigh a green people. The pattern is an interstellar phenomenan. Resistance at the colony was the stigma of death, deserved to a terrifying star^
                </p>
                <p>
                    <a href="https://github.com/Korobi/Korobi/issues" class="button button-rounded button-flat-primary">
                        Issue Tracker
                        <i class="fa fa-bug"></i>
                    </a>
                </p>
            </div>
        </div>

        <div class="recent-channel-activity">
            <table>
                <thead>
                <tr>
                    <th>Channel</th>
                    <th>Last Message</th>
                </tr>
                </thead>
                <tbody>
                {% for channel in channels %}
                    {% set lastValidContent = channel.LastValidContentAt %}
                    <tr>
                        <td><a href="{{ path('channel', {'channel': channel.channel[1:], 'network': channel.network}) }}"><abrr title="<strong>Network:</strong> {{ attribute(networks, channel.network) }}" rel="tooltip">{{ channel.channel }}</abrr></a></td>
                        {% if lastValidContent == null %}
                            <td><em>Never</em></td>
                        {% else %}
                            <td>
                                <time datetime="{{ lastValidContent.getTimestamp() }}" title="{{ lastValidContent.getTimestamp()|date("c") }}">
                                    {{ relativeTime(now, channel.LastValidContentAt.getTimestamp()) }}
                                </time>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
