{% extends 'KorobiWebBundle::layout.html.twig' %}

{% set page_title = channel_name ~ ' on ' ~ network_name %}

{% block body %}
    <h1>{{ channel_name }} on {{ network_name }}</h1>
    <h2>Topic: <em>{{ topic_html|raw }}</em></h2>
    <h3>Topic set by: <em>{{ topic.actor_nick }}</em> on {{ topic.time.toDateTime()|date("c") }}</h3>
    <strong>Command Prefix: </strong> {{ command_prefix }}<br>
    {% if channel.LastActivityValid != null %}
    <strong>Last activity: </strong> <time datetime="{{ channel.LastActivityValid.getTimestamp() }}" title="{{ channel.LastActivityValid.getTimestamp()|date("c") }}">
    {{ relativeTime(now, channel.LastActivityValid.getTimestamp()) }}
    {% endif %}
</time><br>
    {% for link in links %}
        <a href="{{ link.href }}">{{ link.name }}</a><br>
    {% endfor %}
{% endblock %}
