{% extends 'KorobiWebBundle::layout.html.twig' %}
{% import "KorobiWebBundle::macro/log_render.html.twig" as log_render %}

{% set page_title = channel_name ~ ' on ' ~ network_name %}

{% block body %}
    <h1>
        {{ channel_name }}
        {% include 'KorobiWebBundle::partial/channel-icon.html.twig' with {'is_private': channel_private, 'super': true} %}
        on <a href="{{ path('network', {'network': network_slug}) }}">{{ network_name }}</a></h1>
    {% if topic is empty %}
        <h3>No topic is available.</h3>
    {% else %}
        <h3>Topic: <em>{{ topic.value|ircformat|raw }}</em></h3>
        <h4>Topic set by: <em>{{ topic.setter_nick }}</em> on {{ topic.time.format('F j, Y h:i:s a') }}</h4>
    {% endif %}

    {% if channel.LastActivityValid != null %}
        <h4>Last activity: <time datetime="{{ channel.LastActivityValid.getTimestamp() }}" title="{{ channel.LastActivityValid.getTimestamp()|date("c") }}">
                {{ relativeTime(now, channel.LastActivityValid.getTimestamp()) }}</time></h4>
    {% endif %}

    <br>

    {% if sample_logs is not empty %}
        <strong>Latest logs</strong>
        {# I'd love https://github.com/twigphp/Twig/issues/929 #}
        {{  log_render.log_render(sample_logs, false, false, topic) }}
    {% endif %}
    {% if channel.LogsEnabled %}
        <p><a href="{{ path('channel_log', {
                'network': network_slug,
                'channel': channel_name|transformChannelName,
                'key': key,
            }) }}">View today's full log</a>
            &mdash; <a href="{{ path('channel_log_tail', {
                'network': network_slug,
                'channel': channel_name|transformChannelName,
                'key': key,
            }) }}">View tail</a>
            &mdash; <a href="{{ path('channel_stat', {
                'network': network_slug,
                'channel': channel_name|transformChannelName,
                'key': key,
            }) }}">View statistics</a>
        </p>
    {% endif %}

    {% if channel.CommandsEnabled %}
        <p>
            <strong>Command Prefix: </strong> {{ command_prefix }}<br>
            <a href="{{ path('channel_command', {
                'network': network_slug,
                'channel': channel_name|transformChannelName,
                'key': key,
            }) }}">Commands</a>
        </p>
    {% endif %}
{% endblock %}
