{% extends 'KorobiWebBundle::layout.html.twig' %}
{% import "KorobiWebBundle::macro/log_render.html.twig" as log_render %}

{% set page_title = channel_name ~ ' on ' ~ network_name ~ ' - ' ~ (is_tail ? 'Tail' : 'Logs') %}

{% block head %}
    {% if not showing_current or true %}
        <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
    {% endif %}
{% endblock %}

{% block body %}
    <div class="controls">
        <ul class="toggles">
            <li>
                <input type="checkbox" id="toggle-join-part" checked>
                <label for="toggle-join-part" class="button button-rounded button-flat active">
                    Join/part messages
                </label>
            </li>
            <li>
                <input type="checkbox" id="toggle-timezone" checked>
                <label for="toggle-timezone" class="button button-rounded button-flat active">
                    Local timezone
                </label>
            </li>
        </ul>
        <div class="right">
            {% if not is_tail %}
                <a class="button button-rounded button-flat-primary" href="{{ path('channel_log_tail', {'channel': channel_slug, 'network': network_slug}) }}" rel="nofollow">
                    Tail
                    <i class="fa fa-ellipsis-h"></i>
                </a>
            {% else %}
                <a class="button button-rounded button-flat-primary" href="{{ path('channel_log', {'channel': channel_slug, 'network': network_slug}) }}">
                    Today's logs
                    <i class="fa fa-clock-o"></i>
                </a>
            {% endif %}
            <label for="log-date" class="button button-rounded button-flat-primary">
                Calendar
                <i class="fa fa-calendar"></i>
            </label>
            <script type="application/json" id="available-log-days">{{ available_log_days|json_encode|raw }}</script>
            <input type="text" id="log-date" value="{{ log_date }}" data-start-date="{{ first_for_channel }}">
        </div>
    </div>
    {% set reusableLinks %}
        <a href="{{ path('channel', {'channel': channel_slug, 'network': network_slug}) }}">
            {{ channel_name }}</a> on <a href="{{ path('network', {'network': network_slug}) }}">{{ network_name }}</a>
    {% endset %}
    {% if is_tail %}
        <h1>Tail log for {{ reusableLinks }}</h1>
    {% else %}
        <h1>Log for {{ reusableLinks }} - {{ log_date }}</h1>
    {% endif %}
    <div class="logs{% if is_tail %} tailing{% endif %}" id="logs">
        {% if logs is empty %}
            <div class="empty">Sorry, no logs are available for the requested date.</div>
        {% else %}
            {{ log_render.log_render(logs, is_tail) }}
        {% endif %}
    </div>
{% endblock %}
