{% extends 'KorobiWebBundle::layout.html.twig' %}

{% set page_title = channel_name ~ " on " ~ network_name ~ " - CAH Game " ~ game_id %}

{% block body %}
    <h1>Cards Against Humanity game {{ game_id }}</h1>
    <h3>in {{ channel_name }} on {{ network_name }}</h3>
    <div class="cah-stats">
        <dl class="game-state">
            <dt>Game state</dt>
            <dd>{{ game_state }}</dd>
        </dl>

        <dl class="game-times">
            <dt>Start Time</dt>
            <dd>{{ game.startTime|date('F j, Y h:i:s A') }}</dd>
            <dt>End Time</dt>
            <dd>{{ game.endTime|date('F j, Y h:i:s A') }}</dd>
        </dl>

        <dl class="game-packs">
            <dt>Packs</dt>
            <dd>
                {% for pack in game.cardPacks %}
                    {{ pack }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </dd>
        </dl>

        <dl class="game-house-rules">
            <dt>House Rules</dt>
            <dd>
                {% for rule in game.houseRules %}
                    {{ rule }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </dd>
        </dl>

        <dl class="game-details">
            <dt>Host</dt>
            <dd>{{ game.host }}</dd>

            <dt>Lifetime Hosts</dt>
            <dd>
                {% for host in game.hostsLifetime %}
                    {{ host }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </dd>

            <dt>Players</dt>
            <dd>
                {% for player in game.players|sort %}
                    {{ player }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </dd>

            <dt>Lifetime Players</dt>
            <dd>
                {% for player in game.playersLifetime|sort %}
                    {{ player }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </dd>
        </dl>


        <strong>End Scores</strong>
        <table>
            <thead>
            <tr>
                <th>Nick</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
            {% for user, score in game.endScores|arsort %}
                <tr>
                    <td>{{ user }}</td>
                    <td>{{ score }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <strong>Card Counts:</strong>
        <table>
            <thead>
            <tr>
                <th>Card</th>
                <th>Count</th>
            </tr>
            </thead>
            <tbody>
            {% for type, count in card_counts %}
                <tr>
                    {% if type == "Unused Black" %}
                        <td>{{ type }} (used {{ percents.used_black|number_format }}%)</td>
                    {% elseif type == "Unused White" %}
                        <td>{{ type }} (used {{ percents.used_white|number_format }}%)</td>
                    {% else %}
                        <td>{{ type }}</td>
                    {% endif %}

                    <td>{{ count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br><strong>Rounds</strong>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Czar</th>
                <th>Black Card</th>
                <th>Winner</th>
                <th>Plays</th>
            </tr>
            </thead>
            <tbody>
            {% for round in game.rounds|arsort %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ round.czar }}</td>
                    <td>{{ round.black_card }}</td>
                    <td><abbr title="{{ cahFullCard(round.black_card, round.plays[round.winner.id]) }}" rel="tooltip">{{ round.winner.player }}</abbr></td>
                    <td><abbr title="{{ cahPlays(round.black_card, round.plays) }}" rel="tooltip">(hover)</abbr></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
