{% import 'KorobiWebBundle::macro/footer.html.twig' as footer %}
<footer class="footer">
    <div class="footer--inner">
        <div class="footer--copyright">&copy; {{ 'now'|date('Y') }}, korobi.io team &ndash; {{ footer.git_info(gitInfo) }}</div>
        <ul class="footer--links" role="menubar">
            {% spaceless %}
                {% for item in navigation.getFooter() %}
                    {{ nav.nav_link(item) }}
                {% endfor %}
            {% endspaceless %}
            {% if not app.user %}
                <li><a href="/auth/connect/github?_destination={{ app.request.requestUri }}" rel="nofollow">{% trans %}nav.login{% endtrans %}</a></li>
            {% else %}
                <li><a href="/auth/logout?_destination={{ app.request.requestUri }}">{% trans %}nav.logout{% endtrans %}</a></li>
            {% endif %}
        </ul>
    </div>
</footer>
