<nav class="navigation" role="navigation">
    <div class="navigation--inner">
        <div class="navigation--brand-mobile">
            <a href="/" class="navigation--brandlink navigation--brandlink-mobile">{{ app_name }}</a>
        </div>
        <div class="navigation--brand">
            <a href="/" class="navigation--brandlink" role="menuitem">{{ app_name }}</a>
            <i class="navigation--menutoggle fa fa-navicon"></i>
        </div>
        <ul class="navigation--links">
            {% for item in navigation.getPrimary() %}
                <li>
                    <a href="{{ item.url }}" role="menuitem">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
        <ul class="navigation--links navigation--links-secondary">
            {% for item in navigation.getSecondary() %}
                <li>
                    <a href="{{ item.url }}" role="menuitem">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
