{% extends 'KorobiWebBundle::layout.html.twig' %}

{% set page_title = network_name %}

{% block body %}
    <h1>{{ network_name }}</h1>
    {% if all_channels_private %}
    <p>Sorry, but it appears as if all channels on this network are private.</p>
    {% else %}
    <table>
        <thead>
            <tr>
                <th>Channel</th>
                <th>Jump To</th>
            </tr>
        </thead>
        <tbody>
        {% for name, url in channels %}
            <tr>
                <td><a href="{{ url }}">{{ name }}</a></td>
                <td>
                    {% if db_channels[loop.index0].logsEnabled %}
                        <a href="{{ url }}logs/" class="jump-link-logs">Logs</a>
                    {% endif %}
                    {% if db_channels[loop.index0].commandsEnabled %}
                        <a href="{{ url }}commands/" class="jump-link-commands">Commands</a>
                    {% endif %}
                    {% if db_channels[loop.index0].logsEnabled %}
                        <a href="{{ url }}stats/" class="jump-link-stats">Stats</a></td>
                    {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}
