{% extends 'KorobiWebBundle::layout.html.twig' %}

{% set page_title = network_name %}

{% block body %}
    <h1>{{ network_name }}</h1>
    {% if all_channels_private %}
    <p>Sorry, but it appears as if all channels on this network are private.</p>
    {% else %}
    <table>
        <thead>
            <tr>
                <th>Channel</th>
                <th>Jump To</th>
            </tr>
        </thead>
        <tbody>
        {% for name, data in channels %}
            <tr>
                <td><a href="{{ data.url }}">{{ name }}</a></td>
                <td>
                    {% if data.db.logsEnabled %}
                        <a href="{{ data.url }}logs/" class="jump-link-logs">Logs</a>
                    {% endif %}
                    {% if data.db.commandsEnabled %}
                        <a href="{{ data.url }}commands/" class="jump-link-commands">Commands</a>
                    {% endif %}
                    {% if data.db.logsEnabled %}
                        <a href="{{ data.url }}stats/" class="jump-link-stats">Stats</a></td>
                    {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}
