{% extends 'KorobiWebBundle::layout.html.twig' %}

{% set page_title = "Commands" %}

{% block body %}
    <p>Hover over command name for details.</p>
    <div class="commands">
        <table>
            <tr>
                <th>Name</th>
                <th>Content</th>
            </tr>
            {% for command in commands %}
            <tr>
                {% if command.aliases or command.is_action %}
                    <td><abbr title="{% if command.aliases %}<strong>Aliases:</strong> {{ command.aliases }}{% endif %}{% if command.is_action %}{% if command.aliases %}<br>{% endif %}<strong>Action:</strong> {% if command.is_action %}yes{% else %}no{% endif %}{% endif %}" rel="tooltip">{{ command.name }}</abbr></td>
                    <td>{{ command.value|ircformat|raw }}</td>
                {% else %}
                    <td>{{ command.name }}</td>
                    <td>{{ command.value|ircformat|raw }}</td>
                {% endif %}

            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
