{% macro nav_link_html(item) %}
    <li class="{{ item.getClass(app.request.attributes.get('_route')) }}">
        {% if item.isExternalUrl() %}
            <a href="{{ item.getRoute|raw }}" role="menuitem">{{ item.title }} <i class="fa fa-external-link"></i></a>
        {% else %}
            <a href="{{ path(item.getRoute) }}" role="menuitem">{{ item.title }}</a>
        {% endif %}
    </li>
{% endmacro %}

{% macro nav_link(item) %}
    {# Bit ugly #}
    {% import _self as nav %}
    {% if item.getRequiresAuth() %}
        {% if item.getRequiresAdmin() %}
            {% if app.user and is_granted('ROLE_SUPER_ADMIN') %}
                {{ nav.nav_link_html(item) }}
            {% endif %}
        {% else %}
            {% if app.user %}
                {{ nav.nav_link_html(item) }}
            {% endif %}
        {% endif %}
    {% else %}
        {{ nav.nav_link_html(item) }}
    {% endif %}
{% endmacro %}
