{% extends 'KorobiWebBundle::layout.html.twig' %}

{% set page_title = channel_name ~ " on " ~ network_name ~ " - Admin" %}

{% form_theme form _self %}

{% block _form_settings_row %}
    {{ form_label(form) }}
    <div class="form-settings-meow">
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block body %}
    <h2>{{ channel_name }} on {{ network_name }}</h2>
    <p>Please refer to the documentation for information about the settings on this page.</p>

    {{ form_errors(form) }}
    {{ form_start(form) }}

    {{ form_row(form.key) }}
    {{ form_row(form.command_prefix) }}
    {{ form_row(form.settings) }}

    {{ form_label(form.permissions) }}
    {{ block('form_help') }}
    <table>
        <thead>
        <tr>
            <th>Permission</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody id="permissions" data-prototype="{{ form_widget(form.permissions.vars.prototype)|e }}">
        {% for permission in form.permissions %}
            <tr data-content="{{ permission.vars.id }}">
                <td>{{ form_widget(permission, {'attr': {'class':'permission'}}) }}</td>
                <td><a href="#" id="permission-del" data-related="{{ permission.vars.id }}">Remove</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="#" id="permission-add">Add</a>

    {{ form_end(form) }}

    <script>var permissionCount = '{{ form.permissions|length }}';</script><br>
{% endblock %}

